<% include partials/header %>

<div class="container" >
  <div class="row">
    <div class="col text-center">
        <h3 class="text-muted">CTI- MEMBERS</h3>
    <p><h4 class="text-muted">Total registered: <span class="text-danger"><%=users.length%></h4></span></p>
    <hr/>
    </div>
  </div>
    
</div>
<div class="container-fluid">
      <div class="row mt-3">
         
          <% users.forEach(function(user){ %>
                <div class="col-lg-4 col-md-12">
                  
                   <div class="card border-0 shadow">
                      <img style="width: 150px" height="200px" src="<%=user.image%>" class="card-img-top" alt="...">

                      <div class="card-body text-center">
                      <h5 class="card-title mb-0"> Username: <%=user.username%></h5>
                      <div class="card-text text-black-50">Firstname: <%=user.firstName%></div>
                       <div class="card-text text-black-50">Lastname: <%=user.lastName%></div>
                        <div class="card-text text-black-50">Verified: <%=user.isVerified%></div>

                      
                   <p>
                       <a href="/profile/<%=user.id%>" class="btn btn-primary">View my Profile</a>
                   </p>
         </div>
                </div>  
                 </div >
        <% }); %>
    </div>
    </div>
      



    <!--==========================
    Footer
  ============================-->
  <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-4 col-md-6 footer-info">
              <h3>CTI-Ghana</h3>
              <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
            </div>
  
            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Quick Links</h4>
              <ul>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/sikadwa">Sikadwa</a></li>
                <li><a href="/victims">Victims</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/Register">Register</a></li>
                <li><a href="/">Privacy policy</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p>
                Accra Ghana <br>
                Xifen-China, NY 535022<br>
                China-Ghana <br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
  
              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
  
            </div>
  
            <div class="col-lg-3 col-md-6 footer-newsletter">
              <h4>Emergency Support</h4>
              <img class="img-thumbnail" src="/images/police.jpg"/>
              <p>Our dear Brother Oscar has been arrested by Police and he needs our help. He is a dedicated person on this platform</p>
               <a class="btn btn-danger" href="/victims">Support me</a>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; 2019 Copyright <strong>CTI</strong>. All Rights Reserved
        </div>
        <div class="credits">
         
          Developed by <a href="/">Emmanuel Tweneboah</a>
        </div>
      </div>
    </footer>

  <% include partials/footer %>